<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCurriculumMapper">

    <resultMap type="SysCurriculum" id="SysCurriculumResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
        <result property="passLine" column="pass_line"/>
    </resultMap>

    <sql id="selectSysCurriculumVo">
        select sys_c.id, sys_c.name, sys_c.num, sys_c.pass_line
        from sys_curriculum as sys_c
    </sql>

    <select id="selectSysCurriculumListByStudent" parameterType="SysCurriculum" resultMap="SysCurriculumResult">
        <include refid="selectSysCurriculumVo"/>
        <where>
            <if test="name != null  and name != ''">and sys_c.name like concat('%', #{name}, '%')</if>
            <if test="num != null ">and sys_c.num = #{num}</if>
            <if test="passLine != null ">and sys_c.pass_line = #{passLine}</if>
        </where>
    </select>

    <select id="selectSysCurriculumList" parameterType="SysStudent" resultMap="SysCurriculumResult">
        <include refid="selectSysCurriculumVo"/>
        left join sys_curriculum_student as sys_cs on sys_cs.student_id = sys_c.id
        <where>
            <if test="name != null  and name != ''">and sys_c.name like concat('%', #{name}, '%')</if>
            <if test="num != null ">and sys_c.num = #{num}</if>
            <if test="passLine != null ">and sys_c.pass_line = #{passLine}</if>
        </where>
    </select>

    <select id="selectSysCurriculumById" parameterType="Long" resultMap="SysCurriculumResult">
        <include refid="selectSysCurriculumVo"/>
        where sys_c.id = #{id}
    </select>

    <insert id="insertSysCurriculum" parameterType="SysCurriculum">
        insert into sys_curriculum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="num != null">num,</if>
            <if test="passLine != null">pass_line,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="num != null">#{num},</if>
            <if test="passLine != null">#{passLine},</if>
        </trim>
    </insert>

    <update id="updateSysCurriculum" parameterType="SysCurriculum">
        update sys_curriculum
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="num != null">num = #{num},</if>
            <if test="passLine != null">pass_line = #{passLine},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCurriculumById" parameterType="Long">
        delete
        from sys_curriculum
        where id = #{id}
    </delete>

    <delete id="deleteSysCurriculumByIds" parameterType="String">
        delete from sys_curriculum where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>