<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysTeacherMapper">

    <resultMap type="SysTeacher" id="SysTeacherResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="status" column="status"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <sql id="selectSysTeacherVo">
        select sys_t.id,
               sys_t.name,
               sys_t.age,
               sys_t.sex,
               sys_t.status,
               sys_u.user_id,
               sys_u.user_name
        from sys_teacher as sys_t
                 left join sys_user_teacher as sys_ut on sys_ut.teacher_id = sys_t.id
                 left join sys_user as sys_u on sys_u.user_id = sys_ut.user_id
    </sql>

    <select id="selectSysTeacherList" parameterType="SysTeacher" resultMap="SysTeacherResult">
        <include refid="selectSysTeacherVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="age != null ">and age = #{age}</if>
            <if test="sex != null  and sex != ''">and sex = #{sex}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <select id="selectSysTeacherById" parameterType="Long" resultMap="SysTeacherResult">
        <include refid="selectSysTeacherVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysTeacher" parameterType="SysTeacher">
        insert into sys_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="status != null">#{status},</if>
        </trim>
        ;
        insert into sys_user_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            teacher_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            LAST_INSERT_ID()
        </trim>
        ;
    </insert>

    <update id="updateSysTeacher" parameterType="SysTeacher">
        update sys_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id};
        update sys_user_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="id != null">teacher_id = #{id},</if>
        </trim>
        where teacher_id = #{id};
    </update>

    <delete id="deleteSysTeacherById" parameterType="Long">
        delete
        from sys_teacher
        where id = #{id};
        delete
        from sys_user_teacher
        where teacher_id = #{id};
    </delete>

    <delete id="deleteSysTeacherByIds" parameterType="String">
        delete from sys_teacher where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>;
        delete from sys_user_teacher where teacher_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>;
    </delete>

</mapper>