<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="include :: header('绑定学生课程信息')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-Curriculum-edit">
        <div class="form-group">
            <div class="col-sm-12 select-table table-striped">
                <input name="id" th:field="${sysTeacher.id}" type="hidden">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "system/teacher/edit/setCurriculum";
    $(function () {
        var options = {
            url: prefix + "/list/"+$("input#id").attr("value"),
            columns: [{
                checkbox: true,
                // formatter: function (value, row, index) {
                //     return true;
                // }
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'name',
                    title: '课程名字'
                },
                {
                    field: 'num',
                    title: '课程学分'
                },
                {
                    field: 'passLine',
                    title: '及格线'
                }]
        };
        $.table.init(options);
    });

    function submitHandler() {
        if ($.validate.form()) {
            var fromstr = $('#form-Curriculum-edit').serialize()+'&';
            var datalist = $("#bootstrap-table").bootstrapTable('getSelections', function (row) {
                return row;
            });
            var list=[];
            for(const data in datalist){
                list.push(datalist[data].id);
            }
            fromstr+='datalist='+list.toString();
            $.operate.save(prefix + "/edit",fromstr);
        }
    }
</script>
</body>
</html>