<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="include :: header('教师信息')"/>
</head>
<body>
<li>你好！[[${sysTeacher.name}]]</li>
<li>
    <label>课程：</label>
    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table"></table>
    </div>
    </div>
</li>
<th:block th:include="include :: footer"/>
<script>
    var prefix = ctx + "view/teacher";
    $(function () {
        var options = {
            url: prefix + "/list/",
            columns: [
                {
                    field: 'name',
                    title: '课程名字'
                },
                {
                    field: 'num',
                    title: '课程学分'
                },
                {
                    field: 'passLine',
                    title: '及格线'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>